
<%= form_tag(users_index_path) do %>
  <div>
    Email: <%= text_field_tag :email %>
  </div>
  <div>
    Password: <%= password_field_tag :password %>
  </div>
  <%= submit_tag name="Sign In"%>
<% end %>
